body {
    margin: 0;
    font-family: "Radio Canada Big", sans-serif;
    background-image: url(assets/BackgroundTEXTURE.png)
}

html {
    scroll-behavior: smooth;
}

/* HEADER INICIO */

.header {
    background-color: rgb(255, 255, 255, 0);
}

.navbar{
    list-style: none;
    display: flex;
    align-items: center; 
    color: #FFFFFF; 
    width: 1572px;
    height: 50px;
    justify-content: space-around;
}

.header .container{
    display: flex;
    justify-content: center;
}
.navbar a{
    color: #FFFFFF;
    text-decoration: none;
    justify-content: space-around;
    font-size: large;
}

.agora a{
    color: white;
    font-weight: bold;
}


/* HEADER FIM */

/* VIDEO INICIO */

#nikeAD {
    position: sticky; /* Permite a rolagem da página e não deixa fixo no vieweport */
    right: 0;
    bottom: 0;
    min-width: 100%; /* Garante que o vídeo cubra toda a largura */
    min-height: 100%; /* Garante que o vídeo cubra toda a altura */
    z-index: -1;
}

/* VIDEO FIM */

/* CONTEUDO INICO */

.botaoroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}
.linhaTempoNike {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.containerBlack {
    display: flex;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.391);
    justify-content: center;
    border-radius: 15px;

}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.conteudo h1 {
    color: #D3AF37;
    font-size: 70px;
}

.conteudo span {
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

.cardPai {
    display: flex;
    background-color: #D9D9D9;
    width: 90%;
}

.cardPai span {
    padding: 15px;
    color: black;
}

.cardFilho {
    display: flex;
    background-color: #A3A3A3;
    width: 10%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardFilho span {
    padding: 15px;
    color: black;
}

.card1Tenis {
    display: flex;
    background-color: #A3A3A3;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.card2Tenis {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 450px;
    height: 450px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.card2Tenis h1 {
    color: black;
    font-size: 40px;
}

.card2Tenis span {
    color: black;
    font-size: 20px;
}

.card2Tenis #corteiz {
    width: 270px;
    height: 200px;
}

.card2Tenis #airforce {
    width: 270px;
    height: 270px;
}

.card2Tenis #nikeshox {
    width: 270px;
    height: 200px;
}

.card2Tenis #vapormax {
    width: 280px;
    height: 210px;
}

.card2Tenis #jumpmanjack {
    width: 270px;
    height: 280px;
}

.card2Tenis #airjordan1 {
    width: 350px;
    height: 250px;
}

.card2Tenis #airjordan4 {
    width: 350px;
    height: 250px;
}

.card2Tenis #airjordan6 {
    width: 350px;
    height: 250px;
}

.card2Tenis #airjordan1mocha {
    width: 350px;
    height: 250px;
}
 .card2Tenis #airjordan40 {
    width: 350px;
    height: 250px;
}

/* CONTEUDO FIM */

/* FOOTER INICIO */

.footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.391);
    margin-top: 40px;
    justify-content: center;
    align-items: center;

}

.footer .containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.containerFooter img {
    width: 65px;
    height: 35px;

}

.containerFooter span {
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}


/* FOOTER FIM */


