body {
    margin: 0;
    font-family: "Radio Canada Big", sans-serif;
    background-image: url(assets/BackgroundTEXTURE.png);
}

/* HEADER INICIO */

.header {
    background-color: rgb(255, 255, 255, 0);
}

.navbar{
    display: flex;
    list-style: none;
    align-items: center; 
    color: #FFFFFF; 
    width: 1572px;
    height: 50px;
    justify-content: space-around;
}

.header .container{
    display: flex;
    justify-content: center;
}
.navbar a{
    color: #FFFFFF;
    text-decoration: none;
    justify-content: space-around;
    font-size: large;
}


.agora a{
    color: white;
    font-weight: bold;
}

/* HEADER FIM */

/* CONTEUDO INICO */


.colecao {
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1700px;
    height: 100%;
    border-radius: 15px;
    background-color: #D9D9D9;
}

.caixaTitulo {
    display: flex;
    margin-top: 20px;
    height: 80px;
}

.caixaTitulo span {
    font-size: 50px;
}

.caixaGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
    height: 850px;
}

.cardGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 850px;
    width: 350px;
}

.cardConteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
    height: 250px;
    border-radius: 15px;
    background-color: #D3AF37;
}

.cardImagem {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.button {
    margin-top: 50px;
    border-radius: 15px;
    border-style: none;
    width: 200px;
    height: 35px;
    background-color: #D3AF37;
    color: #FFFFFF;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.cardTitulo {
    color: black;
}

.mensagemColecao {
    text-align: center;
}

.mensagemRelatorio {
    text-align: center;
}

.botoes {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.button:hover{
    cursor: pointer;
}

.button:disabled {
    background-color: #FAF9F6;
    color: #D3AF37;
}

input[type=checkbox]{
    cursor: pointer;
    width: 30px;
    height: 40px;
    margin-top: 25px;

}


/* CONTEUDO FIM */