body {
    display: flex;
    margin: 0;
    font-family: "Radio Canada Big", sans-serif;
    background-color: #D9D9D9;
    flex-direction: row;
}

/* HEADER INICIO */

.header {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 1570px;
}

.secao1 {
    display: flex;
    background-color: #D3AF37;
    flex-direction: column;
    width: 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.conteudoSecao1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
    height: 450px;
}

.conteudoSecao1 span{
    font-size: 20px;
    color: #FFFFFF;
}

.secao2 {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 1460px;
}

.conteudoSecao2 {
    display: flex;
    flex-direction: column;
    background-color: #D3AF37;
    width: 450px;
    height: 1120px;
    justify-content: space-between
}

.colecao {
    display: flex;
    background-color: #FFFFFF;
    width: 450px;
    height: 90px;
    align-items: center;
    
}

.imagemColecao {
    display: flex;
    width: 120px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.imagemColecao img {
    width: 85px;
    height: 50px;
}

.textoColecao {
    display: flex;
    width: 330px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.textoColecao span {
    font-size: 23px;
    margin-right: 40px;
}


.sair {
    display: flex;
    width: 450px;
    height: 90px;
}


.imagemSair {
    display: flex;
    width: 80px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.imagemSair img {
    width: 45px;
    height: 35px;
}

.textoSair {
    display: flex;
    width: 380px;
    height: 90px;
    align-items: center;
    justify-content: flex-start;
}

.textoSair a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    transition: transform 0.3s ease-in-out;
}

.textoSair a:hover{
    cursor: pointer;
    transform: scale(1.15);
}

/* HEADER FIM */

/* CONTEUDO INICIO */

.dash{
    display: flex;
    flex-direction: column;
    width: 1420px;
    height: 970px;
}

.dashHeader {
    display: flex;
    width: 1410px;
    height: 280px;
    align-items: center;
    justify-content: space-around;
}

.KPIcard {
    display: flex;
    width: 380px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid 3px #D3AF37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    
}

.KPIcard:hover{
    transform: scale(1.1);
}

.KPItexto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 100px;
}

.KPItexto span {
    text-align: center;
    font-size: 20px;
}

.KPIimagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D3AF37;
    width: 220px;
}

.KPIimagem span {
    color: #FFFFFF;
    font-size: 20px;
}

.valorColecao{
    display: flex;
    width: 1410px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.cardValor {
    display: flex;
    width: 800px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid 3px #D3AF37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.valorTexto {
    display: flex;
    background-color: #FFFFFF;
    width: 700px;
    border-radius: 10px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.valorTexto span {
    font-size: 20px;
}

.valorDinheiro {
    display: flex;
    background-color: #D3AF37;
    width: 300px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.valorDinheiro span{
    color: darkgreen;
    font-size: 20px;
}

.graficos {
    display: flex;
    flex-direction: row;
    width: 1410px;
    height: 600px;
    justify-content: center;
}

.cardGrafico {
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    
}

.cardColecao {
    display: flex;
    width: 500px;
    height: 1200px;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.colecaoCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 1150px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.textocolecaoCard {
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.textocolecaoCard span {
    font-size: 20px;
}

.modeloscolecaoCard {
    display: grid;
    grid-template-columns: 140px 140px;
    gap: 60px;
    row-gap: 10px;
    justify-content: center;
    align-content: start;
    width: 400px;
    height: 100%;

}

.cardModelo {
    display: flex;
    margin-top: 25px;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: solid 3px #D3AF37;
}

.grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 450px;
}